body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--ts-gray-50);
}

/* fallback font for simplified chinese characters */
#dragzone .ts-header {
    font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
}

/* transition */
body, .ts-box, footer.ts-content, .ts-close {
    transition: background-color .25s ease, border-color .25s ease;
}

.ts-progress, .ts-progress .bar {
    transition: background-color .25s ease, width .1s ease, opacity .25s ease;
}

.ts-text, .ts-header, i.ts-icon, .ts-close {
    transition: color .25s ease;
}

/* theme switch */
.switch-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    padding: .1em .25em;
    vertical-align: middle;
}

/* enable/disable element for specific mode */
#dragzone[data-mode="selecting"] .ts-close,
#dragzone:not([data-mode="selected"]) #submitbtn,
#dragzone:not([data-mode="converted"]) #downloadbtn,
#dragzone:not([data-mode^="upload"]) .ts-progress {
    display: none;
}

/* main elements */
#main {
    flex: 1;
    flex-grow: 1;
}

#dragzone {
    margin-bottom: 1em;
}

#form {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
}

/* link */
.ts-text.is-link.is-link.is-link {
    color: var(--ts-primary-500);
}

/* button */
.ts-button.is-primary {
    background-color: var(--ts-primary-400);
    border-color: var(--ts-primary-400);
    color: var(--ts-static-gray-50);
}

.ts-button.is-primary:hover {
    background-color: var(--ts-primary-500);
}

.ts-button.is-primary:active {
    background-color: var(--ts-primary-600);
    border-color: var(--ts-primary-500);
}

.ts-button.is-positive {
    background-color: var(--ts-positive-400);
    border-color: var(--ts-positive-400);
    color: var(--ts-static-gray-50);
}

.ts-button.is-positive:hover {
    background-color: var(--ts-positive-500);
    border-color: var(--ts-positive-400);
}

.ts-button.is-positive:active {
    background-color: var(--ts-positive-600);
    border-color: var(--ts-positive-500);
}

.ts-close {
    position: absolute;
    z-index: 3;
    right: 2em;
    top: 2em;
}

.ts-close:hover {
    background-color: var(--ts-gray-700);
}


.ts-close:active {
    background-color: var(--ts-gray-800);
}

/* dragzone box */
.ts-box {
    user-select: none;
}

.ts-box.is-hollowed:hover {
    cursor: pointer;
    border-color: var(--ts-gray-400);
}

.ts-box.is-hollowed:active,
.ts-box.is-hollowed.is-dragover {
    border-color: var(--ts-gray-500);
}

/* progressbar */
#progressbar {
    width: 100%;
}

#progressbar .bar {
    padding: 0;
    min-width: 0;
    opacity: 1;
}

/* show processing animation, for the bar is overlapping the animation */
#progressbar.is-processing .bar {
    opacity: 0;
}

#progressbar.is-negative .bar {
    background-color: var(--ts-negative-500);
}

/* snackbar */
.ts-snackbar {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    margin-left: 20px;

    background-color: var(--ts-gray-800);
    color: var(--ts-gray-50);
}

.ts-snackbar:not(.active) {
    display: none;
}

.ts-snackbar.active.is-fading-up {
    animation: snackbar-fading 3.4s ease-in-out forwards;
}

.ts-snackbar.active:hover {
    animation-play-state: paused;
}

@keyframes snackbar-fading {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    5%, 95% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}